.allEntries {
    text-align: center;
    color:floralwhite;
    text-shadow: 1px 1px gray;
    /* font-weight: bold; */
    border: solid darkslategrey;
    height: 300px;
    width: 350px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: darkslategrey;

    
}
.answers {
    padding:auto;
}