#nextContainer {  
    text-align: center;
    margin-left: 315px;
}
#nextButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color:yellowgreen;
}
#buttonContainer {
    text-align: center;

}
/* Separates the two buttons */
.twoButtons {
    margin-left: 267px;
}
#backContainer {
    text-align: center;
    margin-left: 315px;
}

#backButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color:yellowgreen;
}

.score {
    margin: auto;
    text-align: center;
    background-color: aquamarine;
    width:150px;
}