#nextContainer {
    /* margin-left: 20px; */
    
    text-align: center;
    margin-left: 262px;
}
#nextButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color:yellowgreen;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
}