#nextContainer {  
    text-align: center;
    margin-left: 315px;
}
#nextButton{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color:brown;
}
#buttonContainer {
    text-align: center;

}
/* Separates the two buttons */


#button{
    margin-left: 131px;
    margin-right: 131px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color:brown;
}
#backContainer {
    text-align: center;
 
}

#theEndButtons{
    margin-left: 128px;
    margin-right: 128px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color:brown;
}
#finishContainer {
    text-align: center;
    margin-left: 315px;
}
.score {
    margin: auto;
    text-align: center;
    background-color: aquamarine;
    width:150px;
}